<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/grid.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <% styles.forEach(function(style) { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/<%= style %>.css" />
    <% }); %>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <% scripts.forEach(function(script) { %>
        <script type="text/javascript" src="scripts/<%= script %>.js"></script>
    <% }); %>
	<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/firstscreen.css" />-->
