<header>
  <div class="container">
    <div class="row flex-row align-items-center">
      <div class="col">
        <a href="https://www.zkbank.org/">
          <img src="/img/logo-white.svg" class="logo">
        </a>
      </div>
      <div class="col d-none d-md-block">
        <div class="txstatus_help">
          <p>Any problems?<br /> Ask for help on <a href="tg://resolve?domain=zkbank">Telegram (@zkbank)</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
