extends layout

block content
  h3 enter your address & Private Key
  form(action="/open")
    input(name='zaddr')
    input(name='zkey')
    input(type='submit' value='apply')
  h4 or
    a(href='/newZAddress')   create new Z
    span or
    a(href='/newTAddress')   create new T
