extends layout

block content
    form(action='/send' method='POST')
        div    balance: #{balance}
        input(name='zaddr' type='hidde' value=zaddr)
        input(name='zkey' type='hidde' value=zkey)
        div
            span from
            input(name='address')
        div
            span to
            input(name='to')
        div
            span amount
            input(type='number')
        input(type='submit' value='send')
